<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DevelopmentEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O5L00A2\SQLEXPRESS;initial catalog=Development;user id=Development;password=Daugava1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AGSWorkTimeCounter.Properties.Settings.DevelopmentConnectionString" connectionString="Data Source=DESKTOP-O5L00A2\SQLEXPRESS;Initial Catalog=Development;User ID=Development;Password=Daugava1" providerName="System.Data.SqlClient" />
    <add name="AGSWorkTimeCounter.Properties.Settings.DevelopmentConnectionString1" connectionString="Data Source=cm1;Initial Catalog=Development;Persist Security Info=True;User ID=development;Password=Daugava1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>